Auth0__Authority=https://YOURDOMAIN.auth0.com/
Auth0__Audience=API unique identifier from auth0.com
Auth0__ClientId=The web app's client id from auth0.com
Auth0__ClientSecret=The web app's client secret from auth0.com