@{
     ViewData["Title"] = "Access Denied";
}
<div class="row">
    <div class="col-12">
        <div class="card bg-danger">
            <div class="card-header">
                <h3 class="card-title">Access Denied</h3>
            </div>
            <div class="card-body">
                You do not have access to this resource.
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>